{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}collapsing_header{% endblock %}


{% block collapse %}

    {% image self.image fill-1263x400 as img %}
    <div class="full_page_photo" style="top: 163px; background-image: url({{ img.url }});">
         <div class="container">
              <section class="call_to_action">
                   <h3 class="animated bounceInDown">
                       {{ self.image_title }}
                   </h3>
                   <br/>
                   <h4 class="animated bounceInUp skincolored">
                       {{ self.image_subtitle }}
                   </h4>
              </section>
         </div>
    </div>

{% endblock %}


{% block content %}

          <section class="hgroup">
               <h1>{{ self.title }}</h1>
               <h2>
                   {{ self.intro }}
               </h2>
               <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> </li>
                    <li class="active">About us</li>
               </ul>
          </section>

          <section class="article-text">
               <div class="row">
                    <div class="col-sm-8 col-md-8">
                        {{ self.about|richtext }}
                    </div>

                    <div class="col-sm-4 col-md-4">
                         {% for teaser in self.teasers.all %}
                         <div class="service_teaser vertical">
                              <div class="service_photo">
                                   <a href="{{ teaser.link.url }}">
                                       {% image teaser.image fill-400x250 as img %}
                                       <figure style="background-image:url({{ img.url }})"></figure>
                                   </a>
                              </div>
                              <div class="service_details">
                                   <a href="{{ teaser.link.url }}">
                                       <h2 class="section_header skincolored">
                                           {{ teaser.title }}
                                       </h2>
                                   </a>
                                   <p>
                                       {{ teaser.subtitle }}
                                   </p>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </section>

          <section class="team_members">
               <h2 class="section_header fancy centered">
                   Meet our Team...
                   <small>they are always up to something good!</small>
               </h2>
               <div class="row">
                    {% for profile in self.profiles.all %}
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              {% image profile.image fill-200x200 as img %}
                              {% image profile.image_hover fill-200x200 as img_hover %}
                              <figure style="background-image: url({{ img_hover.url }})"><img src="{{ img.url }}" alt="1a"></figure>
                              <h5>{{ profile.name }}</h5>
                              <small>{{ profile.title }}</small>
                              <hr>
                              <div class="team_social">
                                  <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                  <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a>
                                  <a href="#googleplus"><i class="fa fa-google-plus"></i></a>
                              </div>
                              <p class="short_bio">
                                  {{ profile.about }}
                              </p>
                         </div>
                    </div>
                    {% endfor %}
               </div>
          </section>

{% endblock %}
